.header {
    position: relative;
    width: 100%;
    height: 80vh; /* Faz com que a header ocupe a altura total da tela */
    overflow: hidden; /* Garante que o conteúdo fora da área visível seja cortado */
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%; /* Define o vídeo para cobrir a largura total */
    min-height: 100%; /* Define o vídeo para cobrir a altura total */
    width: auto; /* Faz com que a largura se ajuste automaticamente */
    height: auto; /* Faz com que a altura se ajuste automaticamente */
    z-index: 0; /* Mantém o vídeo atrás do conteúdo */
    transform: translate(-50%, -50%); /* Centraliza o vídeo */
    object-fit: cover; /* Faz o vídeo se comportar como cover, cortando se necessário */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 35px;
    flex-direction: column;
    color: white;
    z-index: 1;
}


.h1 {
    font-weight: 300;
    font-size: 3em;
    color: #f6f6f6;
}

.p {
    text-align: center;
}

.btns {
    margin-top: 20px;
}

.btn1 {
    border: none;
    height: 50px;
    width: 150px;
    margin-right: 20px;
    background-color: #cd4244;
    color: white;
}

.p {
    text-align: left;
}

.btn2 {
    border: none;
    height: 50px;
    width: 150px;
    background-color: #4D4D4D;
    color: white;
}

@media (min-width: 720px) {
    .h1 {
        font-size: 5em;
        width: 600px;
    }

    .btn1 {
        border: none;
        height: 100px;
        width: 300px;
        margin-right: 20px;
        background-color: #cd4244;
        color: white;
        font-size: 2em;
    }

    .btn1:hover {
        border-radius: 10px;
        border: 1px solid #f6f6f6;
        transition: 0.2s ease-out;
        background-color: #4D4D4D;
    }
    
    .btn2 {
        border: none;
        height: 100px;
        width: 300px;
        background-color: #4D4D4D;
        color: white;
        font-size: 2em;
    }

    .btn2:hover {
        border-radius: 10px;
        border: 1px solid #f6f6f6;
        transition: 0.2s ease-out;
        background-color: #cd4244;
    }
}