.footer{
    height: 30em;
    background: var(--graphite);

    display: flex;
    justify-content: center;
}
.asideL{
    height: 80%;
    width: 40%;

    padding: 3em 2em;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    gap: 3em;

}
.asideR{
    height: 80%;
    width: 60%;

    display: flex;
    justify-content: space-evenly;

    box-sizing: border-box;
    padding: 3em 2em;
}


.logo{
    width: 300px;
    height: 110px;
}

.iconsList{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.imageLink{
    width: 40px;
    height: 40px;
}

.linkPage{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.linkPage h1{
    font-size: large;
    margin-bottom: .5em;
    color: var(--white);
    font-weight: 600;
}

.linkPage *{
    text-decoration: none;
    color: var(--gray);
    font-weight: 400;
}

.copy{
    position: absolute;
    color: var(--gray);
    bottom: -28em;
}

.line{
    position: absolute;
    border: solid 1px var(--gray);
    width: 80%;
    opacity: 100;
    bottom: -26em;
}