.mainContent{
    overflow: hidden;
    @media (min-width:450px){
        height: 100vh;


    }
}


.title{
    color: var(--red);
    font-weight: 600;
    margin: 60px 0;

    @media (max-width:430px){

        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media (min-width:450px){
        display: block;
        position: relative;
        top: 3em;
        left: 73rem;
    }
    
}

.imageContainer{
    @media (max-width:430px){
        width: 100%;

        display: flex;
        justify-content: center;
    }

    @media (min-width: 450px){
        max-height: 700px;
        max-width: 700px;
        height: fit-content;
        width: fit-content;

        display: block;
        position: relative;
        top: 3rem;
        left: 7rem;
        display: flex;
    
        margin: 50px 0 70px 100px;
    }

}

.diamondLayout {
    @media (max-width:430px){
        width: 170px;
        height: 170px;
        margin: 25px;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        overflow: hidden;
    
        border: 4px solid var(--red);
    }

    @media (min-width:450px){
        width: 500px;
        height: 500px;
        margin: 30px;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        overflow: hidden;
    
        border: 4px solid var(--red);
    }
}
  
.diamondImage {
    @media (max-width:430px){
        background: url(http://placekitten.com/g/150/150);
        width: 230px;
        height: 230px;
        margin: -25px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

    }

    @media (min-width: 450px){
        background: url(http://placekitten.com/g/150/150);
        width: 700px;
        height: 700px;
        margin: -100px -105px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}

.pAboutContainer{
    @media (max-width:430px){
        box-sizing: border-box;
        margin-top: 40px;
        padding: 40px;
    }

    @media (min-width:450px){
        display: block;
        position: relative;
        top: -26em;
        left: 50rem;
        width: 100vh;
        box-sizing: border-box;
        margin-top: 40px;
        padding: 10px;
    }
}

.pAbout{
    @media (max-width:430px){
        font-size: 15pt;
        text-align: center;
    }

    @media (min-width:450px){
        font-size: 21pt;
        text-align: justify;
    }
}