.container {
    background-image: url('/example/example3.jpeg');
    height: 600px;
    background-position: right;
}

.txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.350);
    color: white;
    height: 600px;
    padding: 35px;
}

.h1 {
    font-weight: 300;
    font-size: 3em;
}

.p {
    text-align: center;
}

.btns {
    margin-top: 20px;
}

.btn1 {
    border: none;
    height: 50px;
    width: 150px;
    margin-right: 20px;
    background-color: #cd4244;
    color: white;
}

.btn2 {
    border: none;
    height: 50px;
    width: 150px;
    background-color: #4D4D4D;
    color: white;
}