.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter {
    background-color: transparent;
    color: black;
    border: none;
}

.offcanvas {
    display: flex;
    flex-direction: column;
}

.btn_of {
    margin-top: 20px;
    background-color: transparent;
    color: black;
    border: none;
    width: 300px;
}

.drop {
    margin: 0 !important;
    padding: 0 !important;
}

.title {
    color: #cd4244;
    font-weight: 400;
    font-size: 2.5em;
    padding: 40px;
}

.img {
    border: 2px solid #cd4244;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.txt_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.title_product {
    font-size: 2em;
}

.title_product_alam {
    font-size: 1.8em;
}

.btn1 {
    background-color: #cd4244;
    border: none;
    padding: 10px;
    width: 200px;
    margin: 5px;
    color: white;
}

.btn2 {
    background-color: #4d4d4d;
    border: none;
    padding: 10px;
    width: 200px;
    margin: 5px;
    color: white;
}

@media (min-width: 720px) {
    .content {
        display: none;
    }

    .content_pc {
        display: flex;
    }

    .left {
        width: 30%;
        background-color: #cd4244;
        height: 100px;
        position: sticky;
        top: 0;
        height: 100vh;
        border-radius: 0px 20px;
    }

    .right {
        width: 70%;
    }

    .title_product {
        font-size: 2.7em;
    }

    .title_product_alam {
        font-size: 2.7em;
    }

    .btn1 {
        padding: 20px;
        width: 300px;
        font-size: 1.8em;
    }

    .btn1:hover {
        background-color: #4d4d4d;
        transition: 0.5s;
        border: 1px solid #cd4244;
    }
    
    .btn2 {
        padding: 20px;
        width: 300px;
        font-size: 1.8em;
    }

    .btn2:hover {
        background-color: #cd4244;
        transition: 0.5s;
    }
}