/* .container {
    background-color: white !important;
}

.nav {
    background-color: #cd4244;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.nav_a {
    color: white !important;
}

.hamburguer {
   border: none;
   background-color: transparent !important;
   border: none !important;
} */

.navbar{
    /* teste */
}

.nav_ul{
    @media (min-width: 450px) {
        display: flex;
        /* border: 1px solid var(--red); */
        padding-left: 100px;
        width: 80%;
        justify-content: space-around;
    }
    @media (min-width: 1024px){
        gap: 10px;
    }
}

.nav_ul li{
    @media (min-width: 1024px){
        font-size: 10pt;
        width: 150px;
    }

    @media (min-width: 1680px){
        font-size: 15pt;
    }
}


.logoimg{
    @media (min-width:0px) {
        width: 170px;
        height: 70px;
    }


}

.logo{
    @media (min-width: 450px){
        padding: 0 100px;
    }
}

.toggler{
    border: none
}
.toggler:focus{
    border: none;
    box-shadow: none;
}

