/* .container {
    background-color: white !important;
}

.nav {
    background-color: #cd4244;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.nav_a {
    color: white !important;
}

.hamburguer {
   border: none;
   background-color: transparent !important;
   border: none !important;
} */

.toggler{
    border: none
}
.toggler:focus{
    border: none;
    box-shadow: none;
}

