.offcanvas {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.nav {
    width: 100%;
}

.nav_pc {
    display: none;
}

.btn_pc {
    display: none;
}

.drop {
    margin: 0 !important;
}

.btn_of {
    background-color: transparent;
    text-align: start;
    color: black;
    border: none;
    font-size: 1.5em;
    padding: 20px;
}

.btn_mobile {
    background-color: transparent;
    color: black;
    border: none;
    text-align: start;
    padding: 0;
    font-size: 1.5em;
}

.link {
    font-size: 1.5em;
}

.content {
    display: flex;
}

.icons {
    display: none;
}

.products_pc {
    font-size: 1em !important;
}

@media (min-width: 720px) {
    .nav {
        display: none;
    }

    .nav_pc {
        display: block;
    }

    .btn_pc {
        display: block;
        background-color: transparent;
        color: black;
        padding: 0;
        margin-left: 60px;
        border: none;
        font-size: 1.5em;
    }

    .offcanvas_pc {
        display: flex;
        justify-content: space-around;
    }

    .offcanvas_top {
        height: 300px !important;
    }

    .btn_of {
        font-size: 1em;
        padding: 20px;
    }

    .items_pc {
        display: flex;
        flex-direction: column;
    }

    .link {
        margin-left: 60px;
        font-size: 1em;
    }

    .link:hover {
        color: #CB4243 !important;
    }

    .products_pc {
        font-size: 2em !important;
    }

    .btn_pc {
        font-size: 1em;
    }

    .btn_pc:hover {
        background-color: transparent;
        color: #CB4243;
    }

    .icons {
        display: block;
        margin-left: 150px;
    }

    .icons_item {
        margin-left: 30px;
    }

    .content {
        display: flex;
        align-items: center;
    }
}