@media (max-width: 1032px){
    .body{
        height: 140vh;
        width: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .body .aside h1{
        color: var(--red);
        font-weight: 600;
    }

    .link{
        text-decoration: none;
    }

    .iconContainer{
        height: 270px;
        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
        align-items: center;

        margin-bottom: 5em;
    }

    .iconButton{
        width: 190px;

        background-color: var(--graphite);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: .3em .5em;

        color: var(--white);
        background-color: var(--graphite);
        border-radius: 0.3em;
        box-sizing: border-box;


    }
    .iconButton p{
        margin: 0;
    }
    .iconLogo{
        width: 30px;
        height: 30px;
    }


    .form{
        width: 100%;
        height: 100%;
        background: var(--red);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
        padding: 2em 0;
    }

    .input{
        border: none;
    
        box-sizing: border-box;
        height: 3em;
        width: 13em;
        padding: 1em;
        border-radius: .4em;
    }
    
    .input:focus{
        outline: none;
    }
    
    .inputMsg{
        border: none;
        border-radius: .4em;
        height: 8em;
        width: 13em;
        padding: 1em;
    }
    
    .inputMsg:focus{
        outline: none;
    }
    
    .submit{
        border: none;
        width: 8em;
        height: 3em;
    
        border-radius: .4em;
        background: var(--graphite);
        color: var(--white);
    }
}



@media (min-width: 1440px){
    .body{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 75px;
    }
    
    .form{
        height: 700px;
        width: 500px;
        background-color: var(--red);
    }
    
    .aside{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        box-sizing: border-box;
        padding: 50px;
        width: 50%;
    }
    
    .aside h1{
        color: var(--red);
        font-size: 4em;
    }
    
    .iconContainer{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    
    .iconButton{
        color: var(--white);
        background-color: var(--graphite);
        border-radius: 0.8em;
        box-sizing: border-box;
        padding:  0.5em 1.2em;
        width: 12em;
        display: flex;
        gap: 1em;
        align-items: center;
    
    }
    
    .iconButton p{
        margin: 0;
    }
    
    .link{
        text-decoration: none;
    }
    
    
    
    
    
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
        padding: 0.7em 0;
    }
    
    .input{
        border: none;
    
        box-sizing: border-box;
        height: 2em;
        width: 22em;
        padding: 1.7em;
        border-radius: .4em;
    }
    
    .input:focus{
        outline: none;
    }
    
    .inputMsg{
        border: none;
        border-radius: .4em;
        height: 8em;
        width: 22em;
        padding: 1.7em;
    }
    
    .inputMsg:focus{
        outline: none;
    }
    
    .submit{
        border: none;
        width: 10em;
        height: 4em;
    
        border-radius: .4em;
        background: var(--graphite);
        color: var(--white);
    }
}