/* Values */

.values {
    background-color: var(--graphite);
    padding-top: 30px;
    height: 700px;
    border-radius: 0px 0px 20px 20px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.diamond {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border: 4px solid var(--red);
    position: relative;
    transform: rotate(45deg);
    /* Rotaciona o quadrado */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 24px;
    color: white;
    transform: rotate(-45deg);
    /* Desfaz a rotação dentro do quadrado */
}

.p {
    color: #fff;
    width: 150px;
    text-align: center;
    font-weight: 600;
    font-size: 1.4em;
}

/* Products */

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.h1_product {
    color: var(--red);
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-right: 30px;
}

.section_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_product {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid var(--red);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.500);
}

.btn_product {
    padding: 15px 0px;
    width: 200px;
    border: none;
    background-color: var(--red);
    color: #fff;
    margin-bottom: 60px;
}

/* About */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--graphite);
    color: #fff;
    flex-direction: column;
    margin-bottom: 50px;
}

.h1_about {
    font-size: 3em;
    padding: 30px;
}

.section_data {
    display: flex;
    flex-direction: column;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.btn_about {
    padding: 15px 0px;
    width: 200px;
    border: none;
    background-color: var(--red);
    color: #fff;
    margin-bottom: 60px;
}

.video_about {
    margin-bottom: 40px;
}

.h2_data {
    font-size: 2em;
}

/* Testimonials */

.section_cards_testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials_card {
    padding: 30px;
}

.img_testimonials {
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.500);
}

/* Brands */

.brand_row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.row {
    flex-grow: 1;
    border-top: 2px solid black;
    margin: 0 20px;
}

.text_center {
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
}

.brands_img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

/* Local */

.map {
    width: 100%;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-top: 40px;
}

.informations_item_zap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
}

.informations_p {
    width: 250px;
}