/* Values */

.values {
    background-color: var(--graphite);
    padding-top: 70px;
    height: 700px;
    border-radius: 0px 0px 20px 20px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.diamond {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border: 4px solid var(--red);
    position: relative;
    transform: rotate(45deg);
    /* Rotaciona o quadrado */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 24px;
    color: white;
    transform: rotate(-45deg);
    /* Desfaz a rotação dentro do quadrado */
}

.p_phone {
    color: #fff;
    width: 150px;
    text-align: center;
    font-weight: 600;
    font-size: 1.4em;
}

.p {
    color: #fff;
    width: 150px;
    text-align: center;
    font-weight: 600;
    font-size: 1.4em;
}

.icon_pc {
    display: none;
}

.p_pc {
    display: none;
}

@media (min-width: 720px) {
    .values {
        height: 100%;
    }

    .diamond {
        width: 300px;
        height: 300px;
        background-color: #fff;
        border: 4px solid var(--red);
        position: relative;
        transform: rotate(45deg);
        /* Rotaciona o quadrado */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        display: none;
    }

    .icon_pc {
        display: block;
        font-size: 24px;
        color: white;
        transform: rotate(-45deg);
    }

    .p_pc {
        display: block;
    }

    .section {
        padding-bottom: 300px;
        margin-top: 200px;
    }

    .p {
        font-size: 4em;
        width: 100;
    }

    .p_phone {
        display: none;
    }

    .p_pc {
        color: #fff;
        width: 400px;
        text-align: center;
        text-align: center;
        font-weight: 600;
        font-size: 4em;
    }
}

/* Products */

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.h1_product {
    color: var(--red);
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-right: 30px;
}

.section_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_product {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid var(--red);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.500);
}

.btn_product {
    padding: 15px 0px;
    width: 200px;
    border: none;
    background-color: var(--red);
    color: #fff;
    margin-bottom: 60px;
}

.tela_icon_pc {
    display: none;
}

.img_product_pc {
    display: none;
}

@media (min-width: 720px) {
    .h1_product {
        font-size: 5em;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .img_product {
        display: none;
    }

    .img_product_pc {
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
        border: 2px solid var(--red);
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.500);
        margin: 20px;
    }

    .img_product_pc:hover {
        transform: scale(2, 1);
        cursor: pointer;
        border: 3px solid black;
    }

    .tela_icon {
        display: none;
    }

    .tela_icon_pc {
        display: inline;
    }



    .section_card {
        display: flex;
        flex-direction: row;
    }

    .btn_product {
        padding: 15px 0px;
        width: 300px;
        height: 80px;
        border: none;
        background-color: var(--red);
        color: #fff;
        margin: 60px;
        margin-bottom: 90px;
        font-size: 2em;
    }

    .btn_product:hover {
        border-radius: 10px;
        border: 2px solid var(--graphite);
        transition: 2s ease;
    }
}

/* About */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--graphite);
    color: #fff;
    flex-direction: column;
    margin-bottom: 50px;
}

.h1_about {
    font-size: 3em;
    padding: 30px;
}

.section_data {
    display: flex;
    flex-direction: column;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.btn_about {
    padding: 15px 0px;
    width: 200px;
    border: none;
    background-color: var(--red);
    color: #fff;
    margin-bottom: 60px;
}

.video_about {
    margin-bottom: 40px;
}

.video_about_pc {
    display: none;
}

.h2_data {
    font-size: 2em;
}

@media (min-width: 720px) {

    .about {
        height: 100%;
    }

    .h1_about {
        font-size: 5em;
    }

    .h2_data {
        font-size: 4em;
        margin: 50px;
    }

    .sections_about {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .video_about {
        display: none;
    }

    .video_about_pc {
        display: block;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.096);
    }

    .btn_about {
        width: 400px;
        height: 100px;
        font-size: 2em;
        margin-top: 50px;
    }

    .btn_about:hover {
        border-radius: 10px;
        border: 1px solid #fff;
    }
}

/* Testimonials */

.section_cards_testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials_card {
    padding: 30px;
}

.img_testimonials {
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.500);
    background-attachment: fixed;
}

.testimonials_pc {
    display: none;
}

@media (min-width: 720px) {
    .testimonials_pc {
        display: block;
    }

    .cardWtxt {
        width: 100%;
        margin-bottom: 300px;
    }

    .cardWtxt {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .txt_testimonials {
        width: 400px;
        font-size: 1.5em;
    }

    .testimonials {
        display: none;
    }
}

/* Brands */

.brand_row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.row {
    flex-grow: 1;
    border-top: 2px solid black;
    margin: 0 20px;
}

.text_center {
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
}

.brands_img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.img_brand_pc {
    display: none;
}

.img_brand {
    display: block;
}

@media (min-width: 720px) {
    .text_center {
        font-size: 2em;
    }

    .img_brand_pc {
        display: block;
    }

    .img_brand {
        display: none;
    }


}

/* Local */

.map {
    width: 100%;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-top: 40px;
}

.informations_item_zap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
}

.informations_p {
    width: 250px;
}

.informations_pc {
    display: none;
}

.container_qr_pc {
    display: none;
}

@media (min-width: 720px) {
    .map {
        width: 600px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.415);
    }

    .local {
        display: flex;
        justify-content: space-around;
        margin-top: 200px;
    }

    .informations {
        display: none;
    }

    .container_qr_pc {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: var(--red);
        display: flex;
        align-items: center;
        padding: 20px;
        width: 370px;
        border-radius: 50px;
        justify-content: space-around;

    }

    .qr_p {
        font-size: 1em !important;
    }

    .informations_pc {
        display: block;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .informations_p {
        font-size: 1.5em !important;
        width: 300px;
    }

    .informations_item {
        justify-content: space-evenly;
    }

    .informations_item_zap {
        justify-content: space-evenly;
    }
}

/* Qr Code */

.container_qr {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    padding: 20px;
    width: 370px;
    border-radius: 50px;
    justify-content: space-around;
}

.container_img_qr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    background-color: #fff;
    border-radius: 40px;
}

.qr_p {
    font-size: 13px;
    color: #fff;
    text-align: center;
}

.img_qr {
    border-radius: 40%;
}